<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Botones Editar</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="botonesEditar">
            <div id="actions" class="py-4 mb-4 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a th:href="@{/}" class="btn btn-light btn-block">
                                <i class="fas fa-arrow-left"></i> [[#{form.regresar}]]
                            </a>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fas fa-check"></i> [[#{form.guardar}]]
                            </button>
                        </div>
                        <div class="col-md-3">
                            <a th:href="@{/eliminar(idPersona=${persona.idPersona})}" class="btn btn-danger btn-block">
                                <i class="fas fa-trash"></i> [[#{accion.borrar}]]
                            </a>                              
                        </div>
                    </div>
                </div>
        </section>
    </body>
</html>
