<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="layout/plantilla :: head">
        <title>Listado Cliente</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="listadoCliente" id="clientes">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{persona.titulo-lista}]]</h4>
                            </div>
                            <div th:if="${personas != null and !personas.empty}">
                                <table class="table table-stryped">
                                    <thead class="bg-dark text-white">
                                        <tr>
                                            <th>#</th>
                                            <th>[[#{persona.nombre}]]</th>
                                            <th>[[#{persona.apellido}]]</th>
                                            <th>[[#{persona.saldo}]]</th>
                                            <th sec:authorize="hasRole('ROLE_ADMIN')" >[[#{persona.editar}]]</th>
                                            <th sec:authorize="hasRole('ROLE_ADMIN')" >[[#{persona.eliminar}]]</th>
                                        </tr>        
                                    </thead>
                                    <tbody th:each="persona, contador : ${personas}">
                                        <td th:text="${contador.count}">Contar Personas</td>
                                        <td th:text="${persona.nombre}">Mostrar Nombre</td>
                                        <td th:text="${persona.apellido}">Mostrar Apellido</td>
                                        <td th:text="${new  java.text.DecimalFormat('$#,##0.00').format(persona.saldo)}">Mostrar Saldo</td>                                        
                                        <td sec:authorize="hasRole('ROLE_ADMIN')" ><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/editar/} + ${persona.idPersona}" class="btn btn-secondary"><i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                            </a></td>
                                        <td sec:authorize="hasRole('ROLE_ADMIN')" ><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/eliminar(idPersona=${persona.idPersona})}" class="btn btn-dark"> <i class="fas fa-angle-double-left"></i> [[#{accion.borrar}]]</a></td>
                                    </tbody>
                                </table>
                            </div>
                            <div th:if="${personas == null or personas.empty}" class="text-center p-2">
                                <span th:text="#{persona.titulo-vacia}">Vacio</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card text-center bg-danger mb-3 text-white">
                            <div class="card-body">
                                <h3 th:text="#{persona.saldoTotal}">Saldo Total</h3>
                                <h4 class="display-4">
                                    [[${new java.text.DecimalFormat('$#,##0.00').format(saldoTotal)}]]
                                </h4>
                            </div>
                        </div> 
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3 th:text="#{persona.TotalClientes}">Saldo Total</h3>
                                <h4 class="display-4">
                                    <i class="fas fa-users"></i> [[${totalClientes}]]
                                </h4>
                            </div>
                        </div> 
                    </div>   
                </div>
            </div>
        </section>
    </body>
</html>
