<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>

        <section th:replace="layout/botonesAgregar :: botonAgregar"/>
        
        <section th:replace="layout/listadoCliente :: listadoCliente"/>
        
        <section th:replace="layout/agregarCliente :: agregarCliente"/>        
        
        <footer th:replace="layout/plantilla :: footer"/> 
    </body>
</html>

<!-- <td><a th:href="@{/eliminar/} + ${persona.idPersona}" th:text="Eliminar"/></td> -->